<div class="row my-5 justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
        <h1 class="text-center">로그인</h1>
        <div class="card p-3">
            <form name="frm">
                <input name="uid"  placeholder="아이디" class="form-control mb-3">
                <input name="upass" type="password" placeholder="비밀번호" class="form-control mb-3">
                <button class="btn btn-primary w-100">로그인</button>
            </form>
            <div class="text-end mt-2">
                <a href="/users/insert">회원가입</a>
            </div>    
        </div>
    </div>
</div>

<script>
    $(frm).on("submit", function(e){
        e.preventDefault();
        uid=$(frm.uid).val();
        upass=$(frm.upass).val();
        if(uid==""){
            alert("아이디를 입력하세요!");
            $(frm.uid).focus();
        }else if(upass==""){
            alert("비밀번호를 입력하세요!");
            $(frm.upass).focus();
        }else{
            $.ajax({
                type:"post",
                url:"/login",
                data: {uid: uid, upass:upass},
                success:function(data){
                    if(data.result == 0){
                        alert("아이디가 존재하지 않습니다.");
                    }else if(data.result == 2){
                        alert("비밀번호가 일치하지 않습니다.");
                    }else{
                        sessionStorage.setItem("uid", uid);
                        location.href="/";
                    }
                }
            });
        }
    });
</script>